#container {
    width: 600px;
    height:450px;
    margin: 0 auto;
    padding: 50px;
}

#content_container {
    width:640px;
    border:1px solid black;

}

#title{
    background: black;
    font-size: 15px;
    color: white;
    margin: 0;
    padding:10px;
    
}

#title1{
    
    font-size: 20px;
    color: rgb(233, 18, 18);
    margin: 0;
    padding:20px;
    text-align: center;
}
.my-class1{
    color: blue;
}
#p{
    text-align: center;
    padding:20px;
}